<div class="nav-side-menu">
    <div class="brand">Menu</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search..." id="txtMenuArama" style="border: 3px solid #2e353d">
        </div>
        <ul id="menu-content" class="menu-content collapse out">
            <li>
                <a href="{{site.baseurl}}/">
                    <i class="fa fa-dashboard fa-lg"></i> All Notes
                </a>
            </li>
            <li data-toggle="collapse" data-target="#products" class="collapsed active">
                <a href="#"><i class="fa fa-gift fa-lg"></i> Words <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="products">
                <li><a href="{{site.baseurl}}">1000 Common words</a></li>
                <li><a href="{{site.baseurl}}">4000 Common word </a></li>
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed">
                <a href="#"><i class="fa fa-globe fa-lg"></i> Grammer Tests <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>Test-1</li>
                <li>Test-2</li>
                <li>Test-3</li>
            </ul>
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> Resources <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>Ef</li>
                <li>Dictionary</li>
                <li>Google Dictionary</li>
            </ul>
            <li>
                <a href="#">
                    <i class="fa fa-user fa-lg"></i> Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg"></i> Contact
                </a>
            </li>
        </ul>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- left -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:160px;height:600px"
         data-ad-client="ca-pub-6932012645209598"
         data-ad-slot="4776540219"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</div>
