<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="English learning notes" name="description" />
    <meta content="English notes" name="author" />



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.9.0/github-markdown.min.css">



    <link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon" />
        <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/core.css" rel="stylesheet"/>
    <link href="{{site.baseurl}}/assets/css/site.css" rel="stylesheet"/>
    <title>{% if page.title %}{{page.title}} . {% endif %} - English Notes</title>
    <base href="{{site.baseurl}}">
  </head>
  <body>

  {% include nav.html %}
  {% include side-menu.html %}
  <div style="width:80%">
   <div class="container" id="main">
      <div ui-view class="fade-in-up" id="ui-view" style="padding:20px;">
          {{content}}
      </div>
      <!--#region FOOTER -->
      <footer>
          <div class="row">
              <ul class="list-unstyled text-right">

                  <li class="col-sm-4 col-xs-6">
                      <a href="#">&copy; 2017 - English notes</a>
                  </li>
              </ul>
          </div>
      </footer>
      <!--#endregion FOOTER -->
      </div>
  </div>


{% include lib.html %}

  </body>
</html>
